<!-- footer start -->
<footer>
  <div class="border-t py-5 text-center">
    <div class="text-2xl">
      <h1>Footer</h1>
    </div>
    <div class="mt-1">
      <i class="bi bi-folder"></i>
      <span>ejs</span>
      /
      <i class="bi bi-folder"></i>
      <span>layout</span>
      /
      <i class="bi bi-file-earmark"></i>
      <span>footer.ejs</span>
    </div>
  </div>
</footer>
<!-- footer end -->

<%- include('./html-end.ejs') %>
