<%- include('./html-start.ejs',{title:title}) %>
<header>
  <div class="border-b py-5 text-center">
    <div class="text-2xl">
      <h1>Header</h1>
    </div>
    <div class="mt-1">
      <i class="bi bi-folder"></i>
      <span>ejs</span>
      /
      <i class="bi bi-folder"></i>
      <span>layout</span>
      /
      <i class="bi bi-file-earmark"></i>
      <span>header.ejs</span>
    </div>
  </div>
</header>
