<%- include('./layout/header.ejs',{title: indexList[0].title}) %>
<main>
  <section class="my-10 md:my-16 xl:my-20">
    <div class="container mx-auto px-5">
      <div class="grid grid-cols-2 gap-5 md:grid-cols-4 xl:grid-cols-6">
        <% for( let i = 1; i <= 30; i++ ) { %>
        <div class="scrollFadeZoomIn">
          <figure class="aspect-square overflow-hidden rounded bg-slate-400">
            <img
              src="/public/img.jpg"
              alt=""
              class="h-full w-full object-cover"
            />
          </figure>
        </div>
        <% } %>
      </div>
    </div>
  </section>

  <!-- go top -->
  <div class="fixed bottom-5 right-5 md:bottom-10 md:right-10">
    <div
      class="cursor-pointer rounded-full border bg-background/30 p-3 leading-none shadow saturate-150 backdrop-blur md:p-5"
      @click="toPosi()"
    >
      <i class="bi bi-chevron-bar-up text-primary-text"></i>
    </div>
  </div>
</main>
<%- include('./layout/footer.ejs') %>
