<%- include('./layout/header.ejs',{title: indexList[0].title}) %>
<main>
  <section class="my-10 md:my-16 xl:my-20">
    <div class="container mx-auto px-5">
      <div class="grid grid-cols-2 gap-5 xl:grid-cols-4">
        <% for( let i = 1; i <= 8; i++ ) { %>
        <div class="fadeZoomIn">
          <figure class="aspect-square overflow-hidden rounded bg-slate-400">
            <img
              src="/public/img.jpg"
              alt=""
              class="h-full w-full object-cover"
            />
          </figure>
        </div>
        <% } %>
      </div>
    </div>
  </section>

  <section class="my-10 md:my-16 xl:my-20">
    <div class="container mx-auto px-5">
      <div class="swiper">
        <div class="swiper-wrapper">
          <% for( let i = 1; i <= 8; i++ ) { %>
          <div class="swiper-slide">
            <figure class="aspect-square overflow-hidden rounded bg-slate-400">
              <img
                src="/public/img.jpg"
                alt=""
                class="h-full w-full object-cover"
              />
            </figure>
          </div>
          <% } %>
        </div>
      </div>
    </div>
  </section>

  <section class="my-10 md:my-16 xl:my-20">
    <div class="container mx-auto px-5">
      <div
        id="countUpTrigger-0"
        class="grid grid-cols-2 gap-5 text-center font-medium xl:grid-cols-4"
      >
        <% for( let i = 1; i <= 4; i++ ) { %>
        <div>
          <h3
            class="countUpTrigger-0-item text-2xl xl:text-4xl"
            data-num="<%= Math.floor(Math.random() * 1000) %>"
          >
            0
          </h3>
        </div>
        <% } %>
      </div>
    </div>
  </section>

  <!-- go top -->
  <div class="fixed bottom-5 right-5 md:bottom-10 md:right-10">
    <div
      class="cursor-pointer rounded-full border bg-background/30 p-3 leading-none shadow saturate-150 backdrop-blur md:p-5"
      @click="toPosi()"
    >
      <i class="bi bi-chevron-bar-up text-primary-text"></i>
    </div>
  </div>
</main>
<%- include('./layout/footer.ejs') %>
